@media screen and (min-width: 850px) {

.dot {
        box-sizing: border-box;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: table-cell;
        border-style: solid;
        border-color: gray;
        border-width: thin;
        vertical-align: middle;
      }

.dotInner {
        box-sizing: border-box;
        height: 65px;
        width: 65px;
        background-color: white;
        border-radius: 50%;
        display: inline-flex;
        border-style: solid;
        border-color: gray;
        border-width: thin;
        vertical-align: middle;
        font-family: 'Nanum Pen Script';
        font-size: 50px;
      }

.dotText {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        color: black;
      }

}