@media screen and (min-width: 850px) {

table {
  border-spacing: 0;
  margin: 0;
}

.matrioTable {
        margin-top:25px;
        background-color: darkgreen;
        display: flex;
        justify-content: center;
}

.matrioHeader {
        height: 50px;
      }

.cardTray {
        width: 80px;
        height: 500px;
        }

.sideTray {
        transform: rotate(90deg);
        }

.transOrigin {
        transform-origin: center ;
        }
}