@media screen and (min-width: 850px) {

table.dotsTable  {
  background-color: white;
}

.dotCell  {
  border: 1px solid #555;
  width: 80px;
  height: 80px;
  line-height: 50px;
  text-align: center;
}

}